@import 'config.scss';

.home{
    position: absolute;
    height: 100%;
    width: 100%;
    color: azure;
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 45px;
        background: $tertiaryColor;
        padding: 10px;

        .bot{
            img{
                width: 20px;
                height: 20px;
            }
        }
        .logo{
            img{
                width: 100px;
                height: 25px;
            }
        }
        .message{
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    .footer-nav{
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
        width: 100%;
        background: $tertiaryColor;
        padding: 5px 20px;

        .nav-logo{
            img{
                width: 30px;
                height: 25px;
            }
        }

        .home-icon{
            img{
                width: 18px;
                height: 20px;
            }
        }
        .search-icon{
            img{
                width: 18px;
                height: 20px;
            }
        }
        .nav-heart{
            img{
                width: 18px;
                height: 20px;
            }
        }
        .nav-profile{
            img{
                width: 18px;
                height: 20px;
            }
        }
    }
}