/* *{
  border: 1px solid red;
} */
.app{
  background-color: #151515 ;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.intro-text{
  position: fixed;
  top: 65%;
  padding: 0 .5rem;
  width: 60vw;
  color: #f4f6ff;
}

.logos{
  position: fixed;
  top: 10%;
  width: 60vw;
}

.logo{
  padding:0 3rem;
}

.hero-logo{
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.next-btn-bg{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 60vh;
  right: -55px;
  background-color: #bac5f4;
  width: 27vw;
  height: 15vh;
  border-radius: 50%;
}
.next-btn {
 margin-left: 1rem;
}
.back-btn-bg{
  z-index: 999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 60vh;
  left: -55px;
  background-color: #bac5f4;
  width: 27vw;
  height: 15vh;
  border-radius: 50%;
}
.back-btn {
 margin-right: 1rem;
}
