/* *{
  border: 1px solid red;
} */

.app{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.next-btn-bg{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 60vh;
  right: -3.5rem;
  background-color: #4f61ca;
  width: 30vw;
  height: 18vh;
  border-radius: 50%;
}
.next-btn {
 margin-left: 1rem;
}
.back-btn-bg{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 60vh;
  left: -3.5rem;
  background-color: #4f61ca;
  width: 30vw;
  height: 18vh;
  border-radius: 50%;
}
.back-btn {
 margin-right: 1rem;
}
